<% provide(:title, 'About') %>
<div class = "about">
<div>		
<h1>
Leadership, Talent and Performance Management 
</h1>
<h2>
Strategies That Deliver Bottom Line Results		
</h2>	
<body>
<%= link_to image_tag("image002.png",:height => '120px', :width => '120px', :style => "float:right")%>
<p>
For more than 24 years, Patricia (Patti) Anesetti has been recruited to bring positive and sustainable change to some of our world’s leading companies. Her record of success and extensive experience in transforming workplaces and driving bottom-line success and as a dynamic speaker and facilitator, change agent, and executive coach, has earned her a reputation as an invaluable resource and consultant. 
</p>

<p>
As a leading Organizational Development Consultant to numerous Fortune 500 companies, Patricia manages high-profile engagements for internal and external clientele. Her Leadership, vision and insight has significantly improved the productivity, profitability, market share and operational effectiveness of global organizations, where she has consistently increased productivity by a minimum of 50% in all engagements.
</p>

<p>
Her expertise lies in bringing businesses to the next level through the areas of business transformation, culture change, performance management, professional development, team effectiveness, executive coaching, effective sales and negotiation techniques, change methods, e-learning, distance learning, business strategy and organizational development.	
</p>
<p>
Additionally, she is highly skilled in the design, development and implementation of business plans and strategies, training and leadership development programs, coaching, needs assessments, core competency applications, performance evaluations, technical operations, customer service, project management and motivational programs at all levels of management and in a wide array of industries, including the development of corporate universities in several organizations. She is a dynamic and effective public speaker, with strong facilitation skills with groups of all sizes. She is results oriented and clearly motivates people to implement the strategies provided.
</p>
<p>
Patricia facilitates over sixty custom designed and licensed workshops and is the creator of proprietary programs including The Extreme Team Makeover – 90 Days to Highly Effective and Successful Teams, Individual Contributor as Leader, Building Productive Teams through Positive Personal Change, The Customer Connection, The Business Advisor, Situational Sales, “Own It” - Performance Through Accountability, The Performance Coach Series, StoryTelling - Speaking With Impact
</p>
<p>
Patricia holds a Master of Science with summa cum laude honors in Educational Technology and Adult Learning from Ramapo College and Bachelor of Science in Education, also with summa cum laude honors from the State University of New York (SUNY) College at Buffalo. She is certified in Distance Learning, is a certified coach, and holds a number of professional program certifications. She has been an active member of ASTD (Chair Person of the Technology Special Interest Group), SHRM, and other industry affiliated organizations. She is also an active member of several community service organizations, holding board/trustee positions.
</p>
</body>
</div>
</div>